<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1542601906990-b4d3fb778b09?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2074&q=80);">
  <div class="customer-segment-selector">
    <%= link_to "I'm a Developer", companies_path, class: "btn banner-button developer-button" %>
    <%= link_to "I'm a Startup", developers_path, class: "btn banner-button startup-button-current" %>
  </div>
  <div class="banner-text">
    <h1>Do You Want to Find Developers Who <strong>Share Your Values</strong>?</h1>
    <p>Find Your Developer Now!</p>
    <div class="banner-search-bar">
      <%= render 'pages/searchbar', search_type: 'Developers', btn_class: "btn btn-flat", placeholder: "Search for a developer..." %>
    </div>
  </div>
</div>
<div class="container">
  <div class="unique-value-proposition">
    <div class="uvp-container">
      <div class="text">
        <h1>Support Your Mission With <strong>Like-Minded</strong> Developers</h1>
        <p>Tired of working with people who don't stand behind your mission 100% like you do? Are you just getting started and need to find the right talent to bring your idea forward? You found the right place!</p>
        <p>On sustainABLE, we'll help you connect with developers who care about the same causes you do. They believe in the same mission so you can be sure they'll give you their best work yet.</p>
      </div>
      <%= image_tag("leaves.png") %>
    </div>
  </div>
</div>
<div class="green-carousel">
  <div class="container">
    <div class="carousel-title">
      <h1>Find a developer in <strong>your city</strong>:</h1>
    </div>
    <div class="carousel">
      <% @developers.sample(10).each do |developer| %>
        <%= link_to developer_path(developer) do %>
          <div class="landing-page-card d-block">
            <% if developer.photo.attached? %>
              <%= cl_image_tag developer.photo.key,  id: "dashboard-card-avatar", style: "margin: 0 auto 15px auto; border-radius: 50%;", height: 90, width: 90 %>
            <% else %>
              <%= image_tag "user.jpg", id: "dashboard-card-avatar", style: "margin: 0 auto 15px auto; border-radius: 50%;", height: 90, width: 90 %>
            <% end %>
            <div class="card-info">
              <h1><%= developer.first_name %> <%= developer.last_name %></h1>
              <p>
                Location:
                <br>
                <%= developer.location %>
              </p>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="carousel-search-bar">
      <%= render 'pages/searchbar', search_type: 'dev_location', btn_class: "btn btn-flat-reverse", placeholder: "New York, London, Berlin..." %>
    </div>
  </div>
</div>
<div class="grey-carousel">
  <div class="container">
    <div class="carousel-title">
      <h1>Search developers by <strong style="color: white">programming language</strong>:</h1>
    </div>
    <div class="carousel">
      <% @developers.sample(10).each do |developer| %>
        <%= link_to developer_path(developer) do %>
          <div class="landing-page-card d-block">
            <% if developer.photo.attached? %>
              <%= cl_image_tag developer.photo.key,  id: "dashboard-card-avatar", style: "margin: 0 auto 15px auto; border-radius: 50%;", height: 90, width: 90 %>
            <% else %>
              <%= image_tag "user.jpg", id: "dashboard-card-avatar", style: "margin: 0 auto 15px auto; border-radius: 50%;", height: 90, width: 90 %>
            <% end %>
            <div class="card-info">
              <h1><%= developer.first_name %> <%= developer.last_name %></h1>
              <% if developer.skills.first && developer.skills.second  %>
                <p>Proficiencies: <%= developer.skills.first.name %>, <%= developer.skills.second.name %></p>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="carousel-search-bar">
      <%= render 'pages/searchbar', search_type: 'Developers', btn_class: "btn btn-flat", placeholder: "Javascript, Python, Ruby..." %>
    </div>
  </div>
</div>
<div class="green-carousel">
  <div class="container">
    <div class="carousel-title">
      <h1>Or by developers whose <strong>values</strong> align with your startup's mission:</h1>
    </div>
    <div class="carousel">
      <% @developers.sample(10).each do |developer| %>
        <%= link_to developer_path(developer) do %>
          <div class="landing-page-card d-block">
            <% if developer.photo.attached? %>
              <%= cl_image_tag developer.photo.key,  id: "dashboard-card-avatar", style: "margin: 0 auto 15px auto; border-radius: 50%;", height: 90, width: 90 %>
            <% else %>
              <%= image_tag "user.jpg", id: "dashboard-card-avatar", style: "margin: 0 auto 15px auto; border-radius: 50%;", height: 90, width: 90 %>
            <% end %>
            <div class="card-info">
              <h1><%= developer.first_name %> <%= developer.last_name %></h1>
              <p>Interest: <%= developer.interests.truncate(60) %></p>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="carousel-search-bar">
       <%= render 'pages/searchbar', search_type: 'dev_interests', btn_class: "btn btn-flat-reverse", placeholder: "Climate Change, Ocean Pollution..." %>
    </div>
  </div>
</div>
<div class="container">
  <div class="closing-cta">
    <h1>Ready to Get Started?</h1>
    <a class="btn btn-flat btn-lg" href="/search?search_type=Developers&query=">Search Developers Now!</a>
  </div>
</div>
