<div class="container">
  <div class="card-trip">
    <div class="row my-5">
      <div class="col-3">
          <div style="width:500px; height:300px;">
                <% if @developer.photo.attached? %>
                <%= cl_image_tag current_user.company.photo.key, height: 200, width: 200, crop: :thumb %>
                 <% else %>
              <%= image_tag "user.jpg", class: "avatar-huge" %>
            <% end %>
          </div>
        </div>
          <div class="col-6">
            <h2><%= @developer.first_name %> <%= @developer.last_name %></h2>
            <p><strong>Location:</strong> <%= @developer.location %></p>
            <p><strong>Interests:</strong> <%= @developer.interests %></p>
            <p><strong>Slogan:</strong> <%= @developer.slogan %></p>
            <p><strong>Hireable:</strong> <%= @developer.hireable %></p>
            <p><strong>Intersts:</strong></p>

              <div class="d-flex justify-content-start icon-wrapper ml-0 mt-0 mb-4">
                <% if !@developer.github.nil?  %>
                <i class="fab fa-github fa-2x mr-3"></i>
                <% end %>
                <% if !@developer.facebook.nil?  %>
                <i class="fab fa-facebook fa-2x mr-3"></i>
                <% end %>
                <% if !@developer.twitter.nil?  %>
                <i class="fab fa-twitter fa-2x mr-3"></i>
                <% end %>
                <% if !@developer.linkedin.nil?  %>
                <i class="fab fa-linkedin fa-2x mr-3"></i>
                <% end %>
              </div>
          </div>
          <div class="col-3">
                <div class="d-row text-center">
                        <% if current_user.present? && current_user.developer == @developer %>
                  <div class="d-row my-2">
                    <div class="mb-0">
                        <% if policy(@developer).edit? %>
                         <%= link_to 'Edit', edit_developer_path(@developer), class: "btn-flat edit" %>

                        <% end %>
                    </div>
                        <div class="mt-0">
                          <% if policy(@developer).destroy? %>
                            <%= link_to "Delete Account", registration_path(:user),
                              method: :delete, data: { confirm: "Are you sure you want to delete your developer account?" }, class: "btn-flat delete"  %>
                          <% end %>
                        </div>
                  </div>
                         <% else %>
                        <a class="btn btn-flat favorite" href="#"> <i class="far fa-heart fa-lg"></i> Add to favorites</a>
                        <a class="btn btn-flat message" href="#"> <i class="fab fa-telegram-plane fa-lg"></i> Send message</a>
                        <% end %>
                        <p class="mt-3 mr-5"><strong>SKILLS</strong></p>
                        <hr>
                </div>
          </div>
    </div>
  </div>
                <div>
                  <% @developer.skills.each do |skill| %>
                    <div class="bg-dark p-2 text-white d-inline mr-2"><%= skill.name %>
                    </div>
                  <% end %>
                </div>
                <div class="row">
                  <div class="bio col-8">
                    <p><strong>Bio:</strong> <%= @developer.bio %></p>
                  </div>
                </div>
                  <p><strong>website:</strong> <%= @developer.website %></p>
                <div class="row mb-4">
                  <div class="web col-4">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="..." alt="Card image cap">
                      <div class="card-body">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      </div>
                    </div>
                  </div>
                  <div class="web col-4">
                    <div class="card" style="width: 18rem;">
                       <img class="card-img-top" src=". . ." alt="Card image cap">
                      <div class="card-body">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      </div>
                    </div>
                  </div>
                  <div class="web col-4">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="..." alt="Card image cap">
                      <div class="card-body">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      </div>
                    </div>
                  </div>
                </div>
                <% if @hired_jobs.present? %>
          <h2>Current & past jobs</h2>
            <% @hired_jobs.each do |job| %>
              <div class="card-product">
                <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
                <div class="card-product-infos">
                <%= job.job_title %>

                  <p>Job Description</p>
                </div>
              </div>
              <% if current_user && job.company == current_user.company %>
                <%= link_to 'Add review', new_application_review_path(job.applications.where(developer: @developer).first) %>
              <% end %>
            <% end %>
            <% end %>

          <% if @reviews.present? %>
          <h2>Reviews</h2>

            <% @reviews.each do |review| %>
              <h4><%= review.title %> </h4>
              <p><%= review.content %> </p>
              <p><%= review.rating %>/5</p>
            <% end %>
            <% end %>
</div>























