<div class="container">
  <div class="card-trip mb-4">
    <div class="row my-5">
      <div class="col-3">
          <div style="width:500px; height:300px;">
            <% if @developer.photo.attached? %>
              <%= cl_image_tag @developer.photo.key, height: 200, width: 200, crop: :thumb, class: "avatar-huge"  %>
            <% else %>
              <%= image_tag "user.jpg", class: "avatar-huge" %>
            <% end %>
          </div>
        </div>
        <div class="col-6">
            <h2><%= @developer.first_name %> <%= @developer.last_name %></h2>
            <p><strong>Location:</strong> <%= @developer.location %></p>
            <p><strong>Interests:</strong> <%= @developer.interests %></p>
            <p><strong>Slogan:</strong> <%= @developer.slogan %></p>
            <p><strong>Hireable:</strong> <%= @developer.hireable %></p>

              <div class="d-flex justify-content-start icon-wrapper ml-0 mt-0 mb-4">
                <% if @developer.github.present?  %>
                  <%= link_to("#{"https://" if !@developer.github.include?('http')}#{@developer.github}") do %>
                    <i class="fab fa-github fa-2x mr-3"></i>
                  <% end %>
                <% end %>
                <% if @developer.facebook.present?  %>
                  <%= link_to("#{"https://" if !@developer.facebook.include?('http')}#{@developer.facebook}") do %>
                    <i class="fab fa-facebook fa-2x mr-3"></i>
                  <% end %>
                <% end %>
                <% if @developer.twitter.present?  %>
                  <%= link_to("#{"https://" if !@developer.twitter.include?('http')}#{@developer.twitter}") do %>
                    <i class="fab fa-twitter fa-2x mr-3"></i>
                  <% end %>
                <% end %>
                <% if @developer.linkedin.present?  %>
                  <%= link_to("#{"https://" if !@developer.linkedin.include?('http')}#{@developer.linkedin}") do %>
                    <i class="fab fa-linkedin fa-2x mr-3"></i>
                  <% end %>
                <% end %>
              </div>
          </div>
          <div class="col-3">
            <div class="d-flex flex-column justify-content-start align-items-start text-center">
              <% if current_user.present? && current_user.developer == @developer %>
                <div class="d-row my-2">
                  <div class="mb-0">
                    <% if policy(@developer).edit? %>
                      <%= link_to 'Edit profile', edit_developer_path(@developer), class: "btn-flat edit" %>
                    <% end %>
                  </div>
                  <div class="mt-0">
                    <% if policy(@developer).destroy? %>
                      <%= link_to "Delete Account", registration_path(:user),
                        method: :delete, data: { confirm: "Are you sure you want to delete your developer account?" }, class: "btn-flat delete"  %>
                    <% end %>
                  </div>
                </div>
              <% else %>
              <div class="d-flex flex-column align-items-start my-2">
                <% unless current_user.developer %>
                  <a class="btn btn-flat favorite" href="#"><i class="far fa-heart fa-lg"></i> Add to favorites</a>
                  <%= link_to 'Send message', conversations_path(developer_id: params[:id], company_id: current_user.company), method: :post, class: "btn btn-flat message" %>
                <% end %>
                  <% if @developer.website.present?  %>
                    <%= link_to "#{"https://" if !@developer.linkedin.include?('http')}#{@developer.website}", class: "btn btn-flat website" do %>
                      View my website
                    <% end %>
                  <% end %>
                </div>
              <% end %>
              <div class="d-flex flex-column align-items-start">
                <% if @developer.user == current_user %>
                  <%= link_to 'Add skill', new_developer_developer_skill_path(@developer), class: "btn-flat skill" %>
                <% end %>

                <div class="d-flex justify-content-start flex-wrap mb-3" style="background-color: transparent;">
                  <% @developer.developer_skills.each do |developer_skill| %>
                    <div class="bg-dark p-2 text-white d-inline mr-2 mt-2">
                      <%= developer_skill.skill.name %>
                      <% if @developer.user == current_user %>
                        <%= link_to developer_developer_skill_path(@developer, developer_skill), method: :delete, class: "delete-skill-btn" do %>
                           <i class="fas fa-times-circle"></i>
                        <% end %>
                      <% end %>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
    </div>
  </div>

  <div class="row">
    <div class="bio col-8">
      <p><strong>Bio:</strong> <%= @developer.bio %></p>
    </div>
  </div>

  <% if @hired_jobs.present? %>
    <h2>Current & past jobs</h2>
    <% @hired_jobs.each do |job| %>
      <div class="card-product">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
        <div class="card-product-infos">
        <%= job.job_title %>
          <p> <%= job.job_description %></p>
        </div>
      </div>
      <% if current_user && job.company == current_user.company %>
        <%= link_to 'Add review', new_application_review_path(job.applications.where(developer: @developer).first) %>
      <% end %>
    <% end %>
  <% end %>

  <div class="p-5">
    <% if @reviews.present? %>
      <h2>Reviews</h2>

      <% @reviews.each do |review| %>
        <h4><%= review.title %> </h4>
        <p><%= review.content %> </p>
        <p><%= review.rating %>/5</p>
      <% end %>
    <% end %>
  </div>

</div>

