<h1><%= @developer.first_name %> <%= @developer.last_name %></h1>

<p>Location: <%= @developer.location %></p>
<p>Interests: <%= @developer.interests %></p>
<p>slogan: <%= @developer.slogan %></p>
<p>hireable: <%= @developer.hireable %></p>
<p>bio: <%= @developer.bio %></p>
<p>website: <%= @developer.website %></p>
<p>social: <%= @developer.facebook %> :: <%= @developer.github %></p>


<% if policy(@developer).edit? %>
  <%= link_to 'edit', edit_developer_path(@developer) %>
<% end %>

<% if policy(@developer).destroy? %>
  <%= link_to "DeleteAccount", registration_path(:user),
    method: :delete, data: { confirm: "Are you sure you want to delete your developer account?" }  %>
<% end %>

<h2>Current & past jobs</h2>
<ul>
  <% @hired_jobs.each do |job| %>
    <li><%= job.job_title %>
    <% if current_user && job.company == current_user.company %>
      <%= link_to 'Add review', new_application_review_path(job.applications.where(developer: @developer).first) %></li>
    <% end %>
  <% end %>
</ul>

<h2>Reviews</h2>

  <% @reviews.each do |review| %>
    <h4><%= review.title %> </h4>
    <p><%= review.content %> </p>
    <p><%= review.rating %>/5</p>
  <% end %>
