<h1><%= @developer.first_name %> <%= @developer.last_name %></h1>

<p>Location: <%= @developer.location %></p>
<p>Interests: <%= @developer.interests %></p>
<p>slogan: <%= @developer.slogan %></p>
<p>hireable: <%= @developer.hireable %></p>
<p>bio: <%= @developer.bio %></p>

<% if current_user && @developer.user == current_user %>
  <%= link_to 'edit', edit_developer_path(@developer) %>
<% end %>

<% if current_user && @developer.user == current_user %>
  <%= link_to 'Delete account', developer_path(@developer), method: :delete %>
<% end %>
