<div class="container my-4">
  <div class="card-application-show">
    <div class="application-info">
      <div>
        <h2>Application for <%= @application.job.job_title %> </h2>
        <p>By <%= link_to "#{@application.developer.first_name.capitalize} #{@application.developer.last_name.capitalize}", developer_path(@application.developer) %></p>
      </div>
      <!-- application status -->
      <% if @application.status == 'accepted' %>
        <p class="tag green">Status: <%= @application.status %></p>
      <% elsif @application.status == 'rejected'%>
        <p class="tag red">Status: <%= @application.status %></p>
      <% else %>
        <p class="tag grey">Status: <%= @application.status %></p>
      <% end %>
    </div>

    <ol>
    <% @application.answers.each do |answer| %>
      <li><strong><%= answer.question.content %></strong></li>
      <div class="application-answer">
        <p><%= answer.content %></p>
      </div>
    <% end %>
    </ol>

    <!-- buttons for hiring manager -->
    <div class="buttons">
      <% if @application.job.company == current_user.company %>
        <%= link_to 'Accept',
                     application_path(@application,
                                      :application => {status: 'accepted'}),
                     method: :patch, class: "btn btn-flat", style: "border-radius:20px" %>
        <%= link_to 'Reject',
                     application_path(@application,
                                      :application => {status: 'rejected'}),
                     method: :patch, class: "btn btn-reject ml-4", style: "border-radius:20px" %>
      <% end %>
    </div>
    <br>
    <% if @application.status == 'accepted' && @application.job.company.user == current_user %>
      <%= link_to 'Close job posting',
                     job_path(@application.job,
                                      :job => {active: false}),
                     method: :patch, class: "btn btn-flat btn-delete" %>
    <% end %>
  </div>
</div>
