<div class="container">
  <div class="card-trip">
    <h1>Your Messages</h1>
    <div class="inbox-container">
      <div class="conversations-container nav flex-column nav-pills" id="conversation-tab" role="tablist" aria-orientation="vertical">
        <% @conversations.each do |conversation| %>

          <% if conversation.developer == current_user.developer %>
            <a class="nav-link <%= 'active' if @conversations.first == conversation %>" id= "conversation-<%= conversation.id %>-tab" data-toggle="pill" href="#conversation-<%= conversation.id %>" role="tab" aria-controls="conversation-<%= conversation.id %>" aria-selected="<%= @conversations.first == conversation ? true : false %>">
              <div class="conversation">
                <% if conversation.company.photo.attached? %>
                  <%= cl_image_tag conversation.company.photo.key, height: 40, width: 40, crop: :thumb, class: "avatar mx-3" %>
                <% else %>
                  <%= image_tag "blank_company_logo.png", class: "avatar mx-3" %>
                <% end %>

                <div>
                  <div class="conversation-header">
                    <p><%= conversation.company.name %></p>
                    <p class="date"> <%= conversation.messages.last.message_time %> </p>
                  </div>
                  <p class="message-preview"><%= conversation.messages.last.content.truncate(50) %></p>
                </div>
              </div>
            </a>
          <% end %>

          <% if conversation.company == current_user.company %>
            <a class="nav-link" id="conversation-<%= conversation.id %>-tab" data-toggle="pill" href="#conversation-<%= conversation.id %>" role="tab" aria-controls="conversation-<%= conversation.id %>" aria-selected="<%= @conversations.first == conversation ? true : false %>">
              <div class="conversation">
                <% if conversation.developer.photo.attached? %>
                  <%= cl_image_tag conversation.developer.photo.key, height: 40, width: 40, crop: :thumb, class: "avatar mx-3" %>
                <% else %>
                  <%= image_tag "user.jpg", class: "avatar mx-3" %>
                <% end %>

                <div>
                  <div class="conversation-header">
                    <p><%= conversation.developer.first_name.capitalize %> <%= conversation.developer.last_name.capitalize %></p>
                    <p class="date"> <%= conversation.messages.last.message_time %> </p>
                  </div>
                  <p class="message-preview"><%= conversation.messages.last.content.truncate(50) %></p>
                </div>
              </div>
            </a>
          <% end %>

        <% end %>
      </div>
      <div class="messages-container">
        <div class="tab-content" id="conversation-tabContent">
          <% @conversations.each do |conversation| %>
            <div class="tab-pane fade <%= 'show active' if @conversations.first == conversation %>" id="conversation-<%= conversation.id %>" role="tabpanel" aria-labelledby="conversation-<%= conversation.id %>-tab">
              <% conversation.messages.each do |message| %>
                <% if message.user == current_user %>
                  <p class="send-messages"><%= message.content %></p>
                  <br>
                <% else %>
                  <p class="received-messages"><%= message.content %></p>
                  <br>
                <% end %>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
