<div class="container my-5">
  <div class="title-container">
    <div class="title-container-left">
      <h1>Position: <%= @job.job_title %></h1>

      <% if policy(@job).edit? %>
        <%= link_to 'edit job', edit_job_path(@job) %>
      <% end %>
      <br>
      <% if policy(@job).destroy? %>
        <%= link_to 'delete job', job_path(@job), method: :delete %>
      <% end %>

    </div>
    <!-- Apply now button -->
    <div class="title-container-right">
      <% if @developer_application %>
        <p>You have already applied to this job. View your <%= link_to 'application', application_path(@developer_application) %></p>
      <% else %>
        <% if current_user && current_user.developer %>
          <%= link_to 'Apply now', new_job_application_path(@job), class: "btn btn-flat message mt-0" %>
        <% elsif !current_user %>
          <p>Please <%= link_to "login", new_user_session_path %> or create an account to apply for this job</p>
        <% end %>
      <% end %>
    </div>
  </div>

  <!-- container for quick facts -->
  <div class="job-cards-container">
    <div class="job-cards">
      <p>Start date:</p>
      <p><%= @job.start_date %> </p>
    </div>
    <div class="job-cards">
      <p>Duration:</p>
      <p><%= @job.duration %> </p>
    </div>
    <div class="job-cards">
      <p>Location:</p>
      <p><%= @job.location %> </p>
    </div>
    <div class="job-cards">
      <p>Remote:</p>
      <% if @job.remote%>
        <p>Yes</p>
      <% else %>
        <p>No</p>
      <% end %>
    </div>
  </div>

<!-- job description -->
  <div class="description">
    <strong>Job Description</strong>
    <p><%= @job.job_description %> </p>

  <!-- skills section -->
    <% if @job.company.user == current_user %>
      <%= link_to 'Add skill', new_job_job_skill_path(@job), class: "btn-flat skill" %>
    <% end %>

    <div class="d-flex justify-content-start flex-wrap mb-3" style="background-color: transparent;">
      <% @job.job_skills.each do |job_skill| %>
        <div class="bg-dark p-2 text-white d-inline mr-2 mt-2">
          <%= job_skill.skill.name %>
          <% if @job.company.user == current_user %>
            <%= link_to job_job_skill_path(@job, job_skill), method: :delete, class: "delete-skill-btn" do %>
               <i class="fas fa-times-circle"></i>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>


<!-- company info -->
  <div class="company-container">
    <div class="company-info">

      <div>
        <% if @job.company.photo.attached? %>
          <%= cl_image_tag @job.company.photo.key, height: 200, width: 200, crop: :thumb %>
        <% else %>
          <%= image_tag "blank_company_logo.png", class: "avatar-huge" %>
        <% end %>
      </div>

      <div class="info-text">
        <h3>Company: <%= link_to @job.company.name, company_path(@job.company) %></h3>
        <p>Industry: <%= @job.company.industry %></p>
        <p>Mission: <%= @job.company.mission %></p>
      </div>

      <div class="company-socials">
        <p>Website: <%= @job.company.website %></p>
        <div class="company-icons">

        </div>
      </div>
    </div>
  </div>

  <!-- Application info for hiring company -->
  <div class="application-questions">
    <% if policy(@job).edit? %>
      <h4>Application questions</h4>
      <%= link_to 'Add new question', new_job_question_path(@job) %>
      <ol>
        <% @questions.each do |question| %>
          <li> <%= question.content %> <%= link_to 'edit', edit_question_path(question) %> <%= link_to 'delete', question_path(question), method: :delete %></li>
        <% end %>
      </ol>
    <% end %>


  </div>

</div>
