<%= link_to company_path(company), class: "serp-card-wrapper" do %>
  <div class="serp-card">
    <div class="serp-text">
      <% if company.photo.attached? %>
        <%= cl_image_tag company.photo.key, height: 200, width: 200, crop: :thumb, class: "serp-avatar" %>
      <% else %>
        <%= image_tag "blank_company_logo.jpg", class: "serp-avatar" %>
      <% end %>
      <div class="px-5">
        <h4><%=  company.name %></h4>
        <span><%=  company.mission %></span>
      </div>
    </div>

    <div class="serp-extras">
      <h6><%= company.location%></h6>
      <span> Current openings: <%=company.jobs.size %></span>
    </div>
  </div>
<% end %>
