<div class="serp-card-holder">
  <%= link_to company_path(company) do %>
    <div class="developer-card">
      <% if company.photo.attached? %>
        <%= cl_image_tag job.company.photo.key, height: 90, width: 90,  id: "dashboard-card-avatar" %>
      <% else %>
        <%= image_tag "blank_company_logo.png", id: "dashboard-card-avatar" %>
      <% end %>
      <div class="developer-card-info">
        <div class="developer-card-left">
          <h2><%= company.name %></h2>
          <p><%= company.bio.truncate(150) %></p>
        </div>
        <div class="developer-card-right">
          <h3><%= company.location %></h3>
          <h2>Industry: <%= company.industry %></h2>
        </div>
      </div>
    </div>
  <% end %>
</div>
