<%= link_to job_path(job), class: "serp-card-wrapper" do %>
  <div class="serp-card">
    <div class="serp-text">
      <% if job.company.photo.attached? %>
        <%= cl_image_tag job.company.photo.key, height: 200, width: 200, crop: :thumb, class: "serp-avatar" %>
      <% else %>
        <%= image_tag "blank_company_logo.jpg", class: "serp-avatar" %>
      <% end %>
      <div class="px-5">
        <h4><%=  job.job_title %></h4>
        <h6><%= job.company.name %></h6>
        <span><%= job.job_description.truncate(70) %></span>
      </div>
    </div>

    <div class="serp-extras">
      <div>
        <% if job.remote %>
          <h6><i class="fas fa-map-marked-alt"></i>&nbsp; Remote</h6>
        <% else %>
          <h6> <i class="fas fa-map-marked-alt"></i>&nbsp; <%= job.location  %> </h6>
        <% end %>
        <span> <em>Start date:</em>&nbsp; <%= job.start_date %></span>
      </div>
      <div id="duration">
        <%= job.duration%>
      </div>
      <span style="opacity: 0.3;"> <em><%=job.posted_how_long_ago%></em></span>
    </div>
  </div>
<% end %>
