<div class="container">

  <%= render 'pages/searchbar', search_type: 'developer', btn_class: "btn btn-flat", placeholder: "Search for a developer..." %>

  <% if params[:query]==""  %>
    <h1 style="padding: 20px;">Showing all companies</h1>
  <% else %>
    <h1 style="padding: 20px;">Showing <%= pluralize @results.size, 'result' %> for "<%= params[:query] %>"</h1>
  <% end %>

  <% @results.each do |result| %>

    <% if result.respond_to?(:company) %>
      <p><%= result.name %></p>
    <% else %>
      <p><%= "#{result.first_name} #{result.last_name}" %></p>
    <% end %>
  <% end %>
</div>

