<div class="banner">
  <%= link_to "I'm a Developer", companies_path %>
  <%= link_to "I'm a Startup", developers_path, style: "color: red" %>
</div>


<div id="searchbar-homepage"  >
  <%= form_tag search_path, method: :get do %>
    <%= text_field_tag :query,
      params[:query],
      class: "search-bar",
      placeholder: "Search for an company.."
    %>
    <%= button_tag(type: 'submit', class: "btn-search") do %>
       <i class="fas fa-search"></i>
    <% end %>
  <% end %>
</div>

<h1>All companies</h1>

<ul>
<% @companies.each do |company| %>
  <li><%= link_to company.name, company_path(company) %></li>
 <% end %>
</ul>

<h2>All Jobs</h2>
<ul>
  <% @companies.each do |company| %>
    <% company.jobs.each do |job| %>
      <li><%= link_to job.job_title, job_path(job) %></li>
    <% end %>
 <% end %>
</ul>

