<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(https://images.unsplash.com/photo-1522202176988-66273c2fd55f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1051&q=80);">
  <div class="customer-segment-selector">
    <%= link_to "I'm a Developer", companies_path, class: "btn banner-button developer-button-current" %>
    <%= link_to "I'm a Startup", developers_path, class: "btn banner-button startup-button" %>
  </div>
  <div class="banner-text">
    <h1>Gain Experience While Supporting <strong>Projects You Care About</strong></h1>
    <p>How do you want to save the world?</p>
    <div class="banner-search-bar">
      <%= render 'pages/searchbar', search_type: 'Jobs', btn_class: "btn btn-flat", placeholder: "Search for a job..." %>
    </div>
  </div>
</div>
<div class="container">
  <div class="unique-value-proposition">
    <div class="uvp-container">
      <div class="text">
        <h1>Improve Your Coding and Support <strong>Mission-Driven Companies</strong></h1>
        <p> We all know that actions speak louder than our words. If you really care about something, there is finally a way to support it apart from donating money you never even know reaches the right cause. And the best part? You'll learn tons while doing it!</p>
        <p>On sustainABLE, every company is saving the world in one way or another. All you need to do is find a company that matches your beliefs and start connecting! </p>
      </div>
      <%= image_tag("leaves.png") %>

    </div>
  </div>
</div>
<div class="green-carousel">
  <div class="container">
    <div class="carousel-title">
      <h1>Find a startup in <strong>your city</strong>:</h1>
    </div>
    <div class="carousel">
      <% @companies.sample(10).each do |company| %>
        <%= link_to company_path(company) do %>
          <div class="landing-page-card d-block">
            <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png" id="avatar" height="75" width="75" style="margin: 0 auto 15px auto;">
            <div class="card-info">
              <h1><%= company.name %></h1>
              <p>
                Location:
                <br>
                <%= company.location %>
              </p>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="carousel-search-bar">
      <%= render 'pages/searchbar', search_type: 'company_location', btn_class: "btn btn-flat-reverse", placeholder: "New York, London, Berlin..." %>
    </div>
  </div>
</div>
<div class="grey-carousel">
  <div class="container">
    <div class="carousel-title">
      <h1>Search jobs by <strong style="color: white">programming language</strong>:</h1>
    </div>
    <div class="carousel">
      <% @jobs.sample(10).each do |job| %>
        <%= link_to job_path(job) do %>
          <div class="landing-page-card d-block">
            <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png" id="avatar" height="75" width="75" style="margin: 0 auto 15px auto;">
            <div class="card-info">
              <h1><%= job.job_title.truncate(25) %></h1>
              <p class="mission">
                Company:
                <br>
                <%= job.company.name %>
              </p>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="carousel-search-bar">
      <%= render 'pages/searchbar', search_type: 'Jobs', btn_class: "btn btn-flat", placeholder: "Javascript, Python, Ruby..." %>
    </div>
  </div>
</div>
<div class="green-carousel">
  <div class="container">
    <div class="carousel-title">
      <h1>Or by startups whose <strong>mission</strong> aligns with your values:</h1>
    </div>
    <div class="carousel">
      <% @companies.sample(10).each do |company| %>
        <%= link_to company_path(company) do %>
          <div class="landing-page-card d-block">
            <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png" id="avatar" height="75" width="75" style="margin: 0 auto 15px auto;">
            <div class="card-info">
              <h1><%= company.name %></h1>
              <p class="mission">Mission: <%= company.mission.truncate(60) %></p>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="carousel-search-bar">
      <%= render 'pages/searchbar', search_type: 'company_mission', btn_class: "btn btn-flat-reverse", placeholder: "Climate Change, Ocean Pollution..." %>
    </div>
  </div>
</div>
<div class="container">
  <div class="closing-cta">
    <h1>Ready to Get Started?</h1>
    <a class="btn btn-flat btn-lg" href="/search?search_type=Jobs&query=">Find a Job Now!</a>
  </div>
</div>
