<h1><%= @company.name %></h1>

<p>Location: <%= @company.location %></p>
<p>Mission: <%= @company.mission %></p>
<p>Industry: <%= @company.industry %></p>
<p>employees: <%= @company.employees %></p>
<p>bio: <%= @company.bio %></p>

<% if policy(@company).edit? %>
  <%= link_to "edit", edit_company_path(@company) %>
<% end %>

<% if policy(@company).destroy? %>
  <%= link_to 'delete', company_path(@company), method: :delete %>
<% end %>
