<div class="container">
  <div class="row">
    <div class="col-3">
      <div style="width:500px; height:300px;">
         <img class="avatar-huge" alt="avatar-huge" src="https://kitt.lewagon.com/placeholder/users/arthur-littm" />
      </div>
    </div>
      <div class="col-6">
        <h1><%= @company.name %></h1>
        <p>Location: <%= @company.location %></p>
        <p>Mission: <%= @company.mission %></p>
        <p>Industry: <%= @company.industry %></p>
        <p>employees: <%= @company.employees %></p>
        <p>bio: <%= @company.bio %></p>
      </div>
         <!-- button for send message and add favrite, and social media icon -->
        <div class="col-3">
          <div class="text-center">
            <a class="btn btn-flat" href="#"> <i class="fab fa-telegram-plane"></i> Send message</a>
            <a class="btn btn-flat" href="#"> <i class="far fa-heart"></i> </a>
          </div>
          <div class="d-flex justify-content-between icon-wrapper mx-auto">
            <i class="fab fa-github fa-lg"></i>
            <i class="fab fa-facebook fa-lg"></i>
            <i class="fab fa-twitter fa-lg"></i>
            <i class="fab fa-linkedin fa-lg"></i>
          </div>
        </div>
  </div>
          <!-- video -->
    <div class="video-section">
      <img src="https://cloud.addictivetips.com/wp-content/uploads/2018/12/screenshot-youtube.jpg" alt="">
    </div>
      <!-- bio about company -->
    <div>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum tempora itaque, nobis impedit quo sint officiis placeat tenetur, adipisci debitis culpa nulla explicabo praesentium laboriosam velit ea dolore blanditiis incidunt!</p>
    </div>
        <!-- startup project card -->
    <div class="card-product">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg"/>
        <div class="card-product-infos">
          <h2>Product name</h2>
          <p>Posted date</p>
          <p>Description</p>
        </div>
    </div>
        <div class="card-product">
          <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg"/>
            <div class="card-product-infos">
              <h2>Product name</h2>
              <p>Description</p>
            </div>
        </div>






  <% if policy(@company).edit? %>
    <%= link_to "edit", edit_company_path(@company) %>
  <% end %>


  <% if policy(@company).destroy? %>
    <%= link_to "DeleteAccount", registration_path(:user),
      method: :delete, data: { confirm: "Are you sure you want to delete your company account?" }  %>
  <% end %>
</div>
