<div class="container">
  <div class="card-trip">
    <div class="row my-5">
      <div class="col-3">
        <div style="width:500px; height:300px;">
          <% if @company.photo.attached? %>
            <%= cl_image_tag current_user.company.photo.key, height: 200, width: 200, crop: :thumb %>
          <% else %>
            <%= image_tag "blank_company_logo.jpg", class: "avatar-huge" %>
          <% end %>
        </div>
      </div>
        <div class="col-6">
          <h2><%= @company.name %></h2>
          <p><strong>Location:</strong> <%= @company.location %></p>
          <p><strong>Mission:</strong> <%= @company.mission %></p>
          <p><strong>Industry:</strong> <%= @company.industry %></p>
          <p><strong>Employees:</strong> <%= @company.employees %></p>
        </div>
           <!-- button for send message and add favrite, and social media icon -->
          <div class="col-3">
            <% unless @company.user == current_user %>
              <div class="text-center">
                <a class="btn btn-flat favorite" href="#"> <i class="far fa-heart fa-lg"></i> Add to favorites</a>
                <a class="btn btn-flat message" href="#"> <i class="fab fa-telegram-plane fa-lg"></i> Send message</a>
              </div>
            <% end %>
            <div class="row">
              <div class="col-12">
              <% if policy(@company).edit? %>
                <%= link_to "Edit", edit_company_path(@company), class: "d-block btn-flat text-center" %>
              <% end %>
              </div>

              <div class="col-12">
                <% if policy(@company).destroy? %>
                  <%= link_to "Delete Account", registration_path(:user), class: "d-block btn-flat text-center",
                    method: :delete, data: { confirm: "Are you sure you want to delete your company account?" }  %>
                <% end %>
              </div>
            </div>
            <div class="d-flex justify-content-between icon-wrapper">
              <i class="fab fa-github fa-2x"></i>
              <i class="fab fa-facebook fa-2x"></i>
              <i class="fab fa-twitter fa-2x"></i>
              <i class="fab fa-linkedin fa-2x"></i>
            </div>
          </div>
    </div>
  </div>
    <div class="col-14">
                <!-- video -->
      <div class="video-section">
         <img class="video" src="https://cloud.addictivetips.com/wp-content/uploads/2018/12/screenshot-youtube.jpg" alt="">
      </div>
    </div>
       <!-- bio about company -->
      <div>
        <h5><strong>Bio:</strong></h5> <%= @company.bio %> <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam eum maiores sequi, laboriosam expedita quisquam recusandae placeat veniam vero, ratione optio nisi hic voluptas dignissimos, assumenda nemo ab quidem cupiditate.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam praesentium fugit perspiciatis, quasi quae magni amet minus iure et quia obcaecati labore voluptatum porro a, error aliquid ullam adipisci pariatur.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam delectus aliquam molestias quo eveniet iure, dolorem, quis magni non dolore aut distinctio odit consequatur fugit ipsa laboriosam quia labore. Temporibus.</p>
      </div>
          <!-- startup project card -->
         <% @company.jobs.each do |job| %>
          <%= link_to job_path(job) do  %>
        <div class="card-product">
          <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg"/>
            <div class="card-product-infos">
              <h7><%= job.job_title %></h7>
              <p>Description</p>
            </div>
        </div>
        <% end %>
      <% end %>
</div>



